# Exercise 1

In [28]:
# Use the len method to print the length of the string.


x = "Hello World"
print(len(x))

11

# Exercise 1

In [30]:
##  Get the first character of the string txt.

text = "Hello World"
x = text[0]
print(x)

H

# Exercise 3

In [7]:
#  Get the characters from index 2 to index 4 (llo).

txt = "Hello World"

x = txt[2:5]
print(x)

llo

# Exercise 4

In [17]:
#   Return the string without any whitespace at the beginning or the end.


text = "Abhinandan Vishvkarma"
# x = text[0:22]
x = text.strip()
print(x)

Abhinandan Vishvkarma

# Exercise 5

In [19]:
#  Convert the value of txt to upper case.

text = "Abhinandan Vishvkarma"

text = text.upper()

print(text)

ABHINANDAN VISHVKARMA

# Exercise 6

In [21]:
#   Convert the value of txt to lower case.

txt = "Hello World"
txt = txt.lower()
print(txt)

hello world

# Exercise 7

In [23]:

#  Replace the character A with a a.

name = 'Abhinandan Vishvkarma'
naam = name.replace("A","a")
print(naam)

abhinandan Vishvkarma

# Exercise 8

In [26]:
##   Insert the correct syntax to add a placeholder for the age parameter.


age = 36
txt = "My name is John, and I am {}. "
print(txt.format(age))

My name is John, and I am 36.